<h1> Add a new photo </h1>

<form action="/create_photo">
  <div>
    <label for="source_id">
      Image URL
    </label>
    <input id="source_id" type="text" name="the_image_url">
  </div>

  <div>
    <label for="caption_input">
      Caption
    </label>
    <input id="caption_input" type="text" name="the_caption">
  </div>

  <div>
    <button> Create Photo </button>
  </div>
</form>
